<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devwork.springexample.database.repository.UsedGoodsRepository">
    <select id="selectUsedGoodsList"
    resultType="com.devwork.springexample.database.domain.UsedGoods">
        SELECT
            `id`
            , `seller_id`
            , `title`
            , `price`
            , `description`
            , `created_at`
            , `updated_at`
            FROM
                `used_goods`
    </select>
</mapper>