<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사용자 정보</title>
</head>
<body>

    <h3 th:text="${title}">사용자 정보</h3>
    <table border="1">
        <tr>
            <td>ID</td>
            <td th:text="${result.id}">129</td>
        </tr>
        <tr>
            <td>이름</td>
            <td th:text="${result.name}">최다니엘</td>
        </tr>
        <tr>
            <td>이메일</td>
            <td th:text="${result.email}">choi@gmail.com</td>
        </tr>
    </table>
</body>
</html>