<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf 반복문</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <h2>Thymeleaf 반복문</h2>
    <h3>1. 숫자 반복</h3>
    <!-- 0 1 2 3 4 -->
    <div th:each="i:${#numbers.sequence(0, 4)}" th:text="${i}"></div>

    <h3>2. 리스트 반복</h3>

    <!-- for(String fruit : fruitList) -->
    <div th:each="fruit, status:${fruitList}">
        <span th:text="${fruit}">파인애플</span>
        <span th:text="|${status.index} ${status.count} ${status.first} ${status.last}|"></span>
    </div>

    <h3>3. 복잡한 리스트 반복</h3>

    <table border="1">
        <thead>
            <tr>
                <th>이름</th>
                <th>나이</th>
                <th>취미</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user:${userList}">
                <td th:text="${user.name}">유재석</td>
                <td th:text="${user.age}">43</td>
                <td th:text="${user.hobby}">진행하기</td>
            </tr>
        </tbody>
    </table>
</body>
</html>